* {
    font-family: 'Poppins', 'sans-serif';
}

body {
    background-color: #FFFF;

    background-position: right bottom;
    background-repeat: no-repeat;
}

#btn {
    color: #72C985;
}

#hellomed-brand {
    font-family: 'Poppins', 'sans-serif';
    font-size: larger;
    font-weight: 900;
    color: #72C985;
}

.hellomed-h1 {
    font-weight: 1000;
    font-size: 29px;
    margin-left: 10px;
    color: #72C985;
}

.hellomed-accent {
    color: #72C985 !important;
}

.hellomed-accent:hover {
    color: #539160 !important;
    /* text-decoration: underline; */
}

.active {
    text-decoration: underline;
}

.card {
    text-align: center;
    margin-top: 2em;
    border-radius: 1em;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.card img {
    width: 100%;
    margin: 0 auto;
}

.imageRight {
    position: absolute;
    top: 135px;
    bottom: 0px;
    right: 0px;
}

.obatCatalog {
    margin: 25px;
}